.imgLogo {
  height: 120px;
  width: 100px;
}

.searchBox {
  margin-right: 12px;
  display: block;
  box-sizing: border-box;
}

.searchBox_input {
  font-size: 1rem;
  border-radius: 32px;
  height: 40px;
  padding-right: 16px;
}
.checkRegrister,
.checkPay {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
