.imgLogo {
  height: 130px;
  width: 170px;
}

.searchBox {
  margin-right: 12px;
  display: block;
  box-sizing: border-box;
}
.button-categoria {
  display: flex;
  gap: 16px;
  font-size: 20px ;
}
.border-categoria:hover {

  border-bottom: 1px solid #000000;
}
.searchBox_input {
  border-radius: 32px;
  height: 45px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
}

.checkRegrister,
.checkPay {
  width: 110px;
  height: 45px;
  border-radius: 20px;
  margin-right: 10px;
}
.containerFooter  {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
